<div class="wrapper">
    <div class="page-header page-header-small">
        <video id="trailer" class="page-header-image rellax-header" data-rellax-speed="-8"
            src="assets/img/videos/coaltrailerbg.mp4" type="video/mp4" autoplay loop playsinline muted></video>
        <div class="container">
            <div class="content-center width-logo">
                <img src="assets/img/pics/DSC0091511circle256.png">
            </div>
        </div>
    </div>
    <!-- <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title" translate>Highest Quality Charcoal in Belgium</h2>
                    <h5 class="description" translate>100% naturally produced oakwood charcoal. Special offers for
                        restaurants. Free delivery within Belgium.</h5>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success btn-round" placement="top"
                    ngbPopover="Made entirely from natural ingredients." popoverClass="popover-info"
                    style="width: 25%; min-width: 256px;">ALL NATURAL</button>
            </div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <h4>For SHISHA</h4>
                        <div class="image-container image-left no-margins"
                            style="background-image: url('assets/img/coal/coalshisha_small.jpg');">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>For BBQ</h4>
                        <div class="image-container image-right no-margins"
                            style="background-image: url('assets/img/coal/coalbbq_small.jpg')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-round" role="button" aria-disabled="true" href="/quality" translate>Our
                    Quality</a>
            </div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-container product-left"
                            style="background-image: url('assets/img/bags/bags display 1kg.png'); width: 256px; left: 50px;">
                            <p class="price-box price-box-black">SHISHA:</p>
                            <p class="price-box price-box-black down">
                                1KG: 3€<br>
                                3KG: 9€<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-container product-right"
                            style="background-image: url('assets/img/bags/bags display 10kg.png'); width: 256px; left: 50px;">
                            <p class="price-box price-box-black">BBQ:</p>
                            <p class="price-box price-box-black down">
                                4KG: 5.5€<br>
                                10KG: 13€<br>
                                15KG: 19€<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-round" role="button" aria-disabled="true"
                    href="https://api.whatsapp.com/send?phone=32466550935&fbclid=IwAR2HSdjgA8JcZ8e25QrcyRYEA4_nCaugOaoL-VelO33s1jD-ScBFzWhJiTI"
                    translate>Order Now</a>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div> -->
    <!-- <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title" translate>Contact Me</h2>
            <p class="description">Email me</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div>
                        <i class="now-ui-icons ui-1_email-85"></i>
                        <p>contact@ecocoal.be</p>
                    </div>
                    <div>
                        <i class="now-ui-icons tech_mobile"></i>
                        <p>+32 4 66 55 09 35</p>
                    </div>
                    <div>
                        <i class="now-ui-icons shopping_shop"></i>
                        <p>Boulevard de la Revision 94<br>
                            Anderlecht, Brussels<br>
                        </p>
                        <p translate>Monday - Saturday<br>
                            9am - 6pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/music" translate>
                            Music
                        </a>
                    </li>
                    <li>
                        <a href="/photography" translate>
                            Photography
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>