<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/pics/DSC01000blur.jpg');">
        </div>
        <div class="container">
            <div class="content-center width-logo">
                <img class="logo-img" src="assets/img/pics/DSC0091511circle256.png">
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h3 class="title">Contact Info:</h3>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div>
                        <i class="now-ui-icons ui-1_email-85"></i>
                        <p>mohamadjarmak@gmail.com</p>
                    </div>
                    <!-- <div>
                        <i class="now-ui-icons tech_mobile"></i>
                        <p>+32 4 66 55 09 35</p>
                    </div>
                    <div>
                        <i class="now-ui-icons shopping_shop"></i>
                        <p>Boulevard de la Revision 94<br>
                            Anderlecht, Brussels<br>
                        </p>
                        <p>Monday - Saturday<br>
                            9am - 6pm</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="text-center">
                <h3 class="title">Links:</h3>
                <app-link-list></app-link-list>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/links">
                            Links
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>