<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/coal/coalbbqbg.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">About Us</h1>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Tawfik Hared</h4>
                            <p class="category text-primary">Dealer</p>
                            <!-- <p class="description">I am an antique passionist, with an experience of over 15 years.</p> -->
                            <a href="https://www.instagram.com/tawfikhareb" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/jarmakpp.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Mohamad Al Jarmak</h4>
                            <p class="category text-primary">Investor</p>
                            <!-- <p class="description">I'm a software engineer with a passion for business.</p> -->
                            <a href="https://www.linkedin.com/in/mohamad-jarmak-8a0797154/" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/mjarmak" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/mohamadaljarmak" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title" translate>Contact us</h2>
            <p class="description">You can Email or Whatsapp us for your order or question.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div>
                        <i class="now-ui-icons ui-1_email-85"></i>
                        <p>contact@ecocoal.be</p>
                    </div>
                    <div>
                        <i class="now-ui-icons tech_mobile"></i>
                        <p>+32 4 66 55 09 35</p>
                    </div>
                    <div>
                        <i class="now-ui-icons shopping_shop"></i>
                        <p>Boulevard de la Revision 94<br>
                            Anderlecht, Brussels<br>
                        </p>
                        <p translate>Monday - Saturday<br>
                            9am - 6pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/quality" translate>
                            Our Quality
                        </a>
                    </li>
                    <li>
                        <a href="/about" translate>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="/conditions" translate>
                            Terms & Conditions
                        </a>
                    </li>
                    <li>
                        <a href="/privacy" translate>
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
