<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/home" placement="bottom">
        JARMAK
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/music">
            <p>Music</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/photography">
            <p>Photography</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow me on Facebook" data-placement="bottom"
            href="https://www.facebook.com/mjarmak" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow me on Instagram" data-placement="bottom"
            href="https://www.instagram.com/mjarmak"
            target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow me on Twitter" data-placement="bottom"
            href="https://www.twitter.com/mohamadjarmak"
            target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow me on Soundcloud" data-placement="bottom"
            href="https://www.soundcloud.com/mjarmak"
            target="_blank">
            <i class="fab fa-soundcloud"></i>
            <p class="d-lg-none d-xl-none">Soundcloud</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow me on Spotify" data-placement="bottom"
            href="https://open.spotify.com/artist/04rCfoYCCCMUteMABcJbLH"
            target="_blank">
            <i class="fab fa-spotify"></i>
            <p class="d-lg-none d-xl-none">Spotify</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>